@import "variable";

body {
  $bgColor: #999999;
  background: $bgColor;
}

div {
  color: $bgColor;
  background: transparent;

  h1 {
    color: $textColor;
  }

  &:hover {
    background: #000;
  }
}
